* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  background-image: url("../src/assets/img/bg-img.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", serif;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* --------------- Sytles for the Header (resume) --------------- */
.resume {
  position: fixed;
  right: 0;
  top: 20px;
  padding-right: 24px;
}

.resume ul {
  list-style-type: none;
}

.resume ul li:hover {
  transform: scale(1.1);
}

.download-button a {
  text-decoration: none;
  color: #fff;
}

/* --------------- Styles for the sidebar --------------- */
.sidebar {
  width: 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  transform: translateX(0);
  z-index: 1000;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 48px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li:hover {
  transform: scale(1.1);
}

.sidebar ul li {
  opacity: 0.3;
}

/* --------------- Styles for the Home page render --------------- */
.home h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-weight: bold;
  animation: fadeInUp 1.5s ease;
}

.home p {
  font-size: 1.3rem;
  margin-bottom: 10px;
  animation: fadeInDown 1.5s ease;
}

/* --------------- Styles for the About page render --------------- */
.about-section {
  flex-grow: 1;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  background-color: #333;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1300px;
  height: 700px;
  width: 100%;
  text-align: left;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  opacity: 0.8;
}

.about-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-section h2 {
  font-size: 2rem;
  margin-top: 30px;
}

.about-section ul {
  list-style: disc;
  padding-left: 20px;
}

.about-section ul li {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.content {
  border-radius: 10px;
  padding: 10px 15px;
}

.content h2 {
  margin: 15px 0px;
  animation: fadeInDown 1.5s;
}

.summary {
  animation: fadeInRight 1.5s;
}

.content-span {
  grid-column: 1 / span 2;
  animation: fadeInUp 1.5s;
}

.skills {
  margin: 0;
  margin-block-start: 0;
  padding-top: 0;
}

.skills ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 12px;
  padding: 0;
  margin-top: 5px;
}

.skills ul li {
  max-width: fit-content;
  background-color: rgb(83, 82, 82);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 12px 15px;
  transition: transform 0.3s;
  animation: fadeIn 3s ease-in;
}

.skills ul li:hover {
  transform: scale(1.07);
}

.experience-box {
  background-color: #1f0b0b71;
  border-radius: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  padding: 10px 15px;
}

.experience-box::-webkit-scrollbar {
  display: none;
}

.experience-item {
  margin: 20px 0px;
  animation: fadeInLeft 1.5s;
}

.experience-item h2 {
  margin: 0px;
}
.experience-item h3 {
  margin: 5px auto;
}

.experience-item ul {
  margin: 5px auto;
  list-style: circle;
}

.experience-item p {
  font-size: 1rem;
}

/* --------------- Styles for the Projects page render --------------- */
.work-overlay {
  justify-content: left;
  text-align: left;
  display: block;
  padding: 72px 216px;
}

.work-heading {
  justify-content: left;
  align-items: left;
  text-align: justify;
}

.experience-list ul {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-list {
  list-style-type: none;
  padding: 0;
  /* max-width: 800px; */
  margin: 48px auto;
}

.project-item {
  background: #333;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  opacity: 0.75;
}

.project-item i {
  font-size: 40px;
  color: #05000071;
  margin-right: 15px;
  position: fixed relative;
  /* align-self: first baseline; */
}

.project-content {
  flex: 1;
}

.project-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

.project-title a {
  text-decoration: none;
  color: #fff;
}

.project-title a:hover {
  text-decoration: underline;
}

.project-description {
  margin: 5px 0 0;
  font-size: 14px;
  color: #a89a9a;
}

.project-item:hover {
  transform: translateY(-2px);
  transition: transform 0.2s;
}

/* --------------- Styles for the Contact page render --------------- */
.contact-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-grid {
  background-color: #333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1300px;
  height: 700px;
  width: 100%;
  text-align: left;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  opacity: 0.8;
}

.contact-item {
  padding: 40px;
  align-content: center;
}

.contact-item h1 {
  font-size: 2rem;
  padding-bottom: 20px;
}

.contact-grid-img {
  background-image: url("../src/assets/img/contact-img.jpg");
  background-size: cover;
  background-position: center;
}

.contact-grid-details {
  background-color: #463a3a71;
}

.contact-grid-details ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: left;
  list-style: none;
}

.social-link a {
  display: inline-flex;
  gap: 12px;
  align-items: center;
  list-style: none;
  transition: transform 0.3s;
  animation: fadeInUp 1.5s;
  text-decoration: none;
  color: white;
}

.social-link li {
  font-size: 1.2rem;
}

.social-link:hover {
  transform: scale(1.05);
}
